.main-content {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
}

.select-box {
    margin-top: 1.4%;
    text-align: center;
}

.start-search {
    margin-top: 1.4%;
    text-align: center;
    margin-bottom: 5%;
}

.vertical-line1 {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
}

.vertical-line2 {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
}